body {
  color: #494949;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
}

.banner {
  background-image: url(https://source.unsplash.com/random/1000x500);
  background-size: cover;
  color: white;
  padding: 60px 0;
  /* margin: 24px; */
}

.banner h1 {
  font-size: 40px;
  font-style: bold;
}

.banner p {
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
  opacity: 0.8;
}

.container {
  padding: 120px;
  margin: 24px, 48px;
}


.link-medium {
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
  color: #636363;
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;
}

a {
  text-decoration: none;
}
